services:
  ollama:
    build:
      context: .
      dockerfile: dockerfile.ollama
    ports:
      - "11434:11434"

  go-server:
    build:
      context: .
      dockerfile: dockerfile.goserver
    ports:
      - "8081:8090"
